# Binaries for programs and plugins
infra/*.exe
infra/*.exe~
infra/*.dll
infra/*.so
infra/*.dylib

# Test binary, built with `go test -c`
infra/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
infra/*.out

# CDK asset staging directory
infra/.cdk.staging
infra/cdk.out

infra/bin/*
lambda/bin/*
*.DS_Store